* {
    box-sizing: border-box;
}

.text {
    text-align: justify;
    font-size: 16px;
    font-weight: 600;
    color:black;

}
p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

#logo {
    width: 250px;
    height: 90px;
    color: #fff;
    background-color: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    text-align:center;
    line-height: 90px;
    text-decoration: none;
}



body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.container {
    width: 100%;
    max-width: 960px;
    float: left;
    margin: 0 auto; /*auto center if float on previous element*/ 
    clear: both;  /* place top border edge along bottom border of previous image*/ 
}

#masthead {
    margin: 0 0 30px;
    z-index: 99; 
    color:#fff;
    overflow: auto;
    border-bottom: 2px solid #ccc;
    width: 100%;
    position: fixed
    border-color: #cccccc;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block; 
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px;
}

nav a:first-child {
    border-left: 0 none;
}

.loris-image
{ 
    width:200px;
    height:200px;  
    float:left;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

h1, h2, h3 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;

}

h1 {
    font-size: 30px;
    line-height:49px;
    border-bottom: 3x solid #dddddd;
    padding-bottom: 20px;
}

h2,h3 {
    font-size: 22px;
}

/* main section  */
#main-container {
    padding-top: 130px;
}

.main-section {
    background-color: #fff;
    color: black; 
    padding: 20px; 
    margin: 0 0 40px 0; 
    width: 70%;
    max-width: 650px;
    float: left;
    border: 1px solid #dddddd;
}

.sidebar {
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 270px;
    float: right;
    border: 1px solid #ddd;
    margin-bottom: 20px;
} 

h3, .sidebar, h2 {
border-bottom: 2px solid #eee;
padding-bottom: 20px;
margin-bottom: 15px;
line-height:22px;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
    background: #ebebee;
}

.social:last-child {
    margin-right: 0;
}

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
} 
.work {
    width:275px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work-image {
    border: 0 none;
    opacity: 0.8;
    width:200px;
    height:200px; 
    margin-top: 10px;
    margin-right: 25px;
    float:left; 
}

.work h3 {
    border-bottom: 0;
    background:#4aaaa5;
    color:#fff;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding:15px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
}
 /*contact section*/
#contact-form ul {
    margin-bottom: 20px;
} 
#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea{
    display: block;
    width:100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    border: 1px solid #ddd;
    padding:0 10px;
    font-size: 14px;
}

input[type=submit] {
    background: #4aaaa5;
    border: 0 none;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}